@import url('./iconfont/iconfont.css');
img {
  vertical-align: middle;
}
p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.no-drag {
  -webkit-app-region: no-drag;
}
.pd-10 {
  padding: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}

.font-main {
  font-size: 14px;
}
.font-assist {
  font-size: 12px;
  color: #909399;
}
.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-c-l {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*******************/
.login-dialog {
  margin-top: 0vh !important;
  background: #f8f9fa;
}
.el-col-20 {
  width: 20%;
}
.hover-bg {
  transition: background-color 0.3s linear
}
.hover-color {
  transition: color 0.3s linear
}
/************/
.el-dialog__wrapper {
  overflow: hidden;
}
.el-button {
  border-radius: 0px;
}
.ls{
  padding: 0;
}

/***** 长度定义 *******/
.w_10{ width: 10px; }
.w_20{ width: 20px; }
.w_30{ width: 30px; }
.w_40{ width: 40px; }
.w_50{ width: 50px; }
.w_80{ width: 80px; }
.w_100{ width: 100px; }
.w_120{ width: 120px; }
.w_150{ width: 150px; }
.w_200{ width: 200px; }
.w_300{ width: 300px; }
.w_500{ width: 500px; }

/* 显示模式 */
.block{ display: block; }
.inline{ display: inline; }
.inline_block{ display: inline-block; }

/***** 头部样式处理 *******/
.el-header{
  background: #41C0BC !important;
}
.el-signin{
  width: 100vw;
  height: 100vh;
}
.scroll-page{
    background: #F1F1F1;
}
/***** 20181223 原公共样式 *******/
/* 提示语公共样式 */
.tips{
  font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin: 0 !important;
  padding-left: 10px;
  text-align: left;
}
.tips_danger{
  color: #FF0000;
}
.tips_success{
  color: lime;
}

/* 浮动 */
.fLeft{
  float: left;
}
.fRight{
  float: right;
}

/* magin10 magin20 magin50 */
.mTop10{
  margin-top: 10px;
}
.mBottom10{
  margin-bottom: 10px;
}
.mTop10_anti{
  margin-top: -10px;
}
.mBottom10_anti{
  margin-bottom: -10px;
}
.mTop20{
  margin-top: 20px;
}
.mBottom20{
  margin-bottom: 20px;
}
.mTop20_anti{
  margin-top: -20px;
}
.mBottom20_anti{
  margin-bottom: -20px;
}
.mTop50{
  margin-top: 50px;
}
.mBottom50{
  margin-bottom: 50px;
}
.mTop50_anti{
  margin-top: -50px;
}
.mBottom50_anti{
  margin-bottom: -50px;
}

/* padding10 padding20 padding50 */
.pTop10{
  padding-top: 10px;
}
.pBottom10{
  padding-bottom: 10px;
}
.pTop10_anti{
  padding-top: -10px;
}
.pBottom10_anti{
  padding-bottom: -10px;
}
.pTop20{
  padding-top: 20px;
}
.pBottom20{
  padding-bottom: 20px;
}
.pTop20_anti{
  padding-top: -20px;
}
.pBottom20_anti{
  padding-bottom: -20px;
}
.pTop50{
  padding-top: 50px;
}
.pBottom50{
  padding-bottom: 50px;
}
.pTop50_anti{
  padding-top: -50px;
}
.pBottom50_anti{
  padding-bottom: -50px;
}
.pTop100{
  padding-top: 100px;
}
.pBottom100{
  padding-bottom: 100px;
}
.pTop100_anti{
  padding-top: -100px;
}
.pBottom100_anti{
  padding-bottom: -100px;
}
.pTop200{
  padding-top: 200px;
}
.pBottom200{
  padding-bottom: 200px;
}
.pTop200_anti{
  padding-top: -200px;
}
.pBottom200_anti{
  padding-bottom: -200px;
}

/* 缩进2em 4em */
.marginLeft_2em{
  margin-left: 2em;
}
.marginRight_2em{
  margin-right: 2em;
}
.marginLeft_4em{
  margin-left: 4em;
}
.marginRight_4em{
  margin-right: 4em;
}

.marginLeft_50{
  margin-left: 50px;
}
.marginLeft_auti50{
  margin-left: -50px;
}
.marginLeft_100{
  margin-left: 100px;
}
.marginLeft_auti100{
  margin-left: -100px;
}
.marginLeft_200{
  margin-left: 200px;
}
.marginLeft_auti200{
  margin-left: -200px;
}

/* 居中方式 */
.text_center{
  text-align: center !important;
}
.text_left{
  text-align: left !important;
}
.text_right{
  text-align: right !important;
}

.clearfix{
  clear: both;
}

/* 最大标题 */
.headerTitle {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 10px;
}

/* 宽度 50% 处理 */
.wHalfPercent{
  width: 50%;
}
.w3Quarter{
  width: 75%;
}
.w90Percent{
  width: 90%;
}
.wHandred{
  width: 100%;
}


/* 字体颜色 */
.whiteFont{
  color: white !important;
}
.blueFont{
  color: #41C0BC !important;
}
.greenFont{
  color: darkgreen !important;
}
.redFont{
  color: darkred !important;
}

/* 字体粗细程度 */
.font_bold{
  font-weight: bold;
}
.font_normal{
  font-weight: normal;
}

/* Home 页面 element 组件样式处理 */
.signPage .el-form-item__label{
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.signPage .el-checkbox{
  color: #A1A1A1;
}
.signPage .el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #41C0BC;
  border-color: #41C0BC;
}
.signPage .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #41C0BC;
}
.signPage .el-input__inner{
  padding: 0 35px;
}

/* 自定义 白色按钮 */
p.selfBtn {
  color: rgb(102, 102, 102);
  background: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 10em;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}
p.selfBtn:hover{
  color: white;
  background: #409eff;
  cursor: pointer;
}


/* 修改select 组件样式 */
.el-select .el-input__inner{
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  color: #41C0BC;
  font-weight:400;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: #41C0BC;
}
.el-select .el-input__inner:focus{
  border-color: #41C0BC;
}
.el-select .el-input__suffix{
  top: 5px;
}
.el-select .is-focus .el-input__suffix{
  top: -5px;
}
.el-select .is-focus .el-select__caret{
  color: #41C0BC !important;
}


/* select 下拉菜单样式修改 */
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background: #41C0BC;
  color: white;
  border-radius: 15px;
}
.el-select-dropdown__item{
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

/* 自定义小按钮 (白色背景)*/
.btn-medium-self{
  width:100px;
  height:28px;
  line-height: 28px;
  margin-bottom: -10px;
  display: inline-block;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 3px 0px rgba(0,0,0,0.08);
  border-radius: 15px;
  color: #41C0BC;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.btn-medium-self:hover{
  color: white;
  background: #41C0BC;
  cursor: pointer;
  animation: color-change-delay 0.2s 1 backwards;
}

@keyframes color-change-delay {
  0%{
    background:rgba(65,192,188,1);
  }
  25%{
    background:rgba(65,192,188,0.9);
  }
  50%{
    background:rgba(65,192,188,0.8);
  }
  100%{
    obackground:rgba(65,192,188,0.7);
  }
}

/* 自定义小按钮 (蓝色背景)*/
.btn-medium-self-blue{
  width:100px;
  height:28px;
  line-height: 28px;
  margin-bottom: -10px;
  display: inline-block;
  background: #41C0BC;
  box-shadow:0px 2px 3px 0px rgba(0,0,0,0.08);
  border-radius: 15px;
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.btn-medium-self-blue:hover{
  color: #41C0BC;
  background: rgba(187,232,231,1);
  cursor: pointer;
  animation: color-change-delay-blue 0.2s 1 backwards;
}

@keyframes color-change-delay-blue {
  0%{
    background: rgba(187,232,231,1);
  }
  25%{
    background: rgba(187,232,231,0.9);
  }
  50%{
    background: rgba(187,232,231,0.8);
  }
  100%{
    obackground: rgba(187,232,231,0.7);
  }
}


/* 自定义小组件-搜索框 */
.input-search-self{
  height: 30px;
  line-height: 30px;
}
.input-search-self .el-input__inner{
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  color: #41C0BC;
  font-weight:400;
  padding-left: 20px;
  padding-right: 30px;
}
.input-search-self .el-input.is-focus .el-input__inner{
  border-color: #41C0BC;
}
.input-search-self .el-input__inner:focus+.el-input__prefix{
  border-color: #41C0BC;
  color: #41C0BC;
}
.input-search-self .el-input__suffix{
  top: 5px;
}
.input-search-self .el-input__prefix{
  top: -5px;
  left: 100%;
  margin-left: -30px;
}

/* table => 蓝色header 表头 自定义样式 */
.table_self_blue .el-table__header{
  background: #F1F1F1 !important;
}
.table_self_blue .el-table__header .has-gutter th{
  height: 50px;
  line-height: 50px;
  background: #41C0BC;
  color: white;
  padding: 0 !important;
  margin: 0;
  text-align: center;
}
.table_self_blue .el-table__header .has-gutter th:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.table_self_blue .el-table__header .has-gutter th:nth-last-child(2){
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table_self_blue .el-table__body .el-table__row td{
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.table_self_blue span.el-icon-edit, 
.table_self_blue span.el-icon-sort-up, 
.table_self_blue span.el-icon-sort-down, 
.table_self_blue span.el-icon-delete{
  color: #41C0BC;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  text-align: center;
}
.table_self_blue span.el-icon-edit:hover, 
.table_self_blue span.el-icon-sort-up:hover, 
.table_self_blue span.el-icon-sort-down:hover, 
.table_self_blue span.el-icon-delete:hover{
  cursor: pointer;
}

/* table => 白色 header 表头 自定义样式 */
.table_self_white .el-table__header{
  background: #FFFFFF !important;
}
.table_self_white .el-table__header .has-gutter th{
  height: 32px;
  line-height: 32px;
  background: #FFFFFF !important;
  color: #555555;
  padding: 0 !important;
  margin: 0;
  text-align: center;
}
.table_self_white .el-table__row{
  height: 32px;
  line-height: 32px;
  background: #BBE8E7;
}
.table_self_white .el-table__row--striped{
  height: 32px;
  line-height: 32px;
  background: #FFFFFF;
}
.table_self_white .el-table__body .el-table__row td{
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.table_self_white span.el-icon-edit, 
.table_self_white span.el-icon-sort-up, 
.table_self_white span.el-icon-sort-down, 
.table_self_white span.el-icon-delete{
  color: #41C0BC;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;  
  text-align: center;
}
.table_self_white span.el-icon-edit:hover, 
.table_self_white span.el-icon-sort-up:hover, 
.table_self_white span.el-icon-sort-down:hover, 
.table_self_white span.el-icon-delete:hover{
  cursor: pointer;
}

/* 操作小图标  和  内部展开样式 */
ul.popover-list{
  list-style: none;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
ul.popover-list li{
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  padding: 3px 7px;
}
ul.popover-list li:hover{
    border-radius: 6px;
    background: #41C0BC;
    cursor: pointer;
    color: white;
}
.el-popover{
  min-width: 4em;
  color: #555555;
}
.el-icon-setting{
  color: #41C0BC;
}

/* border-radius 阴影盒子 */
.boderRadiusBox{
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.12);
  border-radius:8px;
  overflow: hidden;
}

/* 深蓝 header 展开图标 */
.headerSpread, .headerFold{
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  height:30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  clear: both;
  cursor: pointer;
}
.headerSpread{
  background:rgba(65,192,188,1);
  color: white;
}
.headerFold{
  background:rgba(66,192,189,0.36);
  color: #555555;
}
.headerSpread img, .headerFold img{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
}

/* 定位 (左边距) */
.left_1em{ left: 1em; }
.left_2em{ left: 2em; }
.left_3em{ left: 3em; }
.left_4em{ left: 4em; }
.left_5em{ left: 5em; }
.left_6em{ left: 6em; }
.left_7em{ left: 7em; }
.left_8em{ left: 8em; }
.left_9em{ left: 9em; }
.left_10em{ left: 10em; }

/* 定位 (右边距) */
.right_1em{ right: 1em; }
.right_2em{ right: 2em; }
.right_3em{ right: 3em; }
.right_4em{ right: 4em; }
.right_5em{ right: 5em; }
.right_6em{ right: 6em; }
.right_7em{ right: 7em; }
.right_8em{ right: 8em; }
.right_9em{ right: 9em; }
.right_10em{ right: 10em; }

/* 所有页面 => 引导标题 guideBar*/
.guideBar{
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin: 0px 0px 20px 0px;
  color: #41C0BC; 
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.guideBar img{
  width: 18px;
  height: 18px;
  margin-top: -2px;
}
.guideBar a,.guideBar span{
  color: #41C0BC;
  text-decoration: none;
}
.guideBar a:hover,.guideBar span:hover{
  opacity: 0.7;
  color: #41C0BC;
  cursor: pointer;
  text-decoration: underline;
}

/* 题号(圆形横向排列) */
ul.itemNumList{
  list-style: none;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
  -webkit-padding-start: 0px;
  height: 30px !important;
  white-space: nowrap !important;
  width: 62%;
  overflow-x: auto;
  overflow-y: hidden;
}
ul.itemNumList li{
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  border-radius: 11px;
  background: white;
  padding: 0;
  color: #A1A1A1;
  text-align: center;
}
ul.itemNumList li:hover, ul.itemNumList li.active{
  background: #41C0BC;
  color: white;
}


/* 自定义CheckBox组件 */
.checkbox-self{
  margin-top: 10px;
  height:18px;
  color:rgba(85,85,85,1);
  line-height:18px;
}
.checkbox-self .el-checkbox__label{
  font-size: 12px;
}
.checkbox-self .el-checkbox__inner{
  background: #E5E5E5;
}
.checkbox-self .is-focus{
  border-color: #41C0BC;
}
.checkbox-self .el-checkbox__input.is-checked + .el-checkbox__label{
  color: #41C0BC;
}
.checkbox-self .el-checkbox__input.is-checked .el-checkbox__inner{
  background: #41C0BC;
}

/* 滚动条美化效果 */
::-webkit-scrollbar {
    width: 5px;/*竖向滚动条的宽度*/
    height: 5px;/*横向滚动条的高度*/
}
/*滚动条轨道的样式*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*滚动条轨道内滑块的样式*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(65,192,188,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*当焦点不在当前区域滑块的状态（具体为什么要加这句有点忘了，记得是跟刷新时有关）*/
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(65,192,188,0.2);
}

/* 弹窗样式修改 */
.el-message-box{
  border-color: #41C0BC;
}
.el-message-box .el-message-box__header{
  background: #41C0BC;
}
.el-message-box .el-message-box__header .el-message-box__title{
  color: white;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn i{
  color: white;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn i:hover{
  color: #e6a23c;
  opacity: 0.8;
}
.el-message-box .el-message-box__content{
  padding: 20px 20px;
  box-sizing: border-box;
}
.el-message-box .el-message-box__btns{
  text-align: center;
}
.el-message-box .el-message-box__btns .el-button--primary{
  background: #41C0BC;
}

.el-dialog{
  border: 1px solid #41C0BC;
  border-radius: 4px;
}
.el-dialog .el-dialog__header{
  background: #41C0BC;
  padding: 15px;
  padding-bottom: 10px;
}
.el-dialog .el-dialog__header .el-dialog__title{
  color: white;
  line-height: 1;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn{
  top: 15px;
  right: 15px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn i{
  color: white;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn i:hover{
  color: #e6a23c;
  opacity: 0.8;
}
.el-dialog .el-dialog__body{
  padding: 20px 20px;
  box-sizing: border-box;
}
.el-dialog .el-form-item{
  margin-bottom: 0;
}
.el-dialog__footer {
  padding: 5px 15px 10px;
}
.el-dialog__footer .dialog-footer .el-button{
  padding: 9px 15px;
  font-size: 12px;
}
/* textarea 控制尺寸*/
.el-dialog .el-dialog__body .el-textarea__inner{
  height: 100px;
  resize: none;
}
.el-dialog .el-dialog__footer{
  text-align: center;
}
.el-dialog .el-button--primary{
  background: #41C0BC;
}

/* 暂无数据 单元格处理 */
.el-table__empty-block{
  height: 40px;
  line-height: 40px;
  min-height: 40px;
}
.el-table__empty-text{
  color: #41C0BC;
  letter-spacing: 2px;
  word-spacing: 2px;
}

